
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px){
  [class*="col-"]{
    float: left;
    padding : 15px;
  }
  .col-1 {width: 8.33%}
  .col-2 {width: 16.66%}
  .col-3 {width: 25%}
  .col-4 {width: 33.33%}
  .col-5 {width: 41.66%}
  .col-6 {width: 50%}
  .col-7 {width: 58.33%}
  .col-8 {width: 66.66%}
  .col-9 {width: 75%}
  .col-10 {width: 83.33%}
  .col-11 {width: 91.66%}
  .col-12 {width: 100%}
}
body {
  background-color: lightgreen;
  font-family: sans-serif;
}
@media only screen and (min-width: 600px){
  body{
    background-color : khaki;
  }
}
@media only screen and (min-width: 768px){
  body{
    background-color : green;
  }
}
header {
  font-family: 'Nunito', sans-serif;
  width: 100%;
}
h1 {
  background-image: url("../img/peer.jpg");
  background-repeat: repeat-x;
  background-size: 18%;
  background-position: center;
  height: 20%;
  z-index: -1;
  text-align: center;
  color: white;
  font-size: 50px;
}
h3 {
  margin: 15px;
  background-color: silver;
}
ul {
  padding : 0px;
  margin : 0px;
  list-style-type: none;
}
li {
  background-color: darkslategrey;
  color: white;
  padding : 15px;
  margin-bottom : 5px;
}
.afbeelding {
  max-width: 350px;
  height: auto;
  padding : 15px;
  float : right;
}
.informatie {
  float : right;
  background-color: forestgreen;
  margin-bottom: 7px;
}
@media only screen and (min-width: 600px){
  .informatie{
    background-color : palegreen;
  }
}
@media only screen and (min-width: 768px){
  .informatie{
    background-color : lightgreen;
  }
}
footer {
  clear: left;
}
